/* Set up my document page for easier styling */
:root {
  --text-color: #31343d;
  --text-color-2: #445877;
  --text-color-3: #92ccce;
  --display-flex: flex;
  --flex-row: row;
  --flex-column: column;
  --flex-wrap: wrap;
  --center: center;
}

body {
  background-color: #eeeef7;
  width: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
/* Added flex to the header for responsive navigation */
header {
  display: var(--display-flex);
  flex-direction: var(--flex-row);
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: var(--text-color);
  z-index: 1;
}
/* Added a bg Id for the h1 element */
#bg {
  background-color: var(--text-color-3);
  height: 35px;
  justify-content: var(--center);
  margin-top: 15px;
}
h1 {
  font-size: 2.2em;
  font-weight: 700;
  padding-left: 60px;
  padding-right: 5px;
  color: var(--text-color);
  position: relative;
  text-align: var(--center);
}

ul {
  display: var(--display-flex);
  flex-direction: var(--flex-row);
  margin-top: 20px;
  margin-right: 30px;
}

header ul li a {
  margin: 2px 5px;
  justify-content: var(--center);
  text-decoration: none;
  border-bottom: 2px solid var(--text-color-3);
  color: var(--text-color-3);
  font-size: 0.9em;
  padding-bottom: 3px;
}

a:hover {
  opacity: 0.7;
  color: gold;
}
/* Used CSS for the image bg as it is more flexbile than the img element */
#hero {
  height: 200px;
  width: 100%;
  background-image: url(../../assets/images/daniel-abadia-ZghDk-g9iN4-unsplash.jpg);
  background-size: cover;
  position: relative;
}

#hero p {
  background-color: var(--text-color-3);
  height: 30px;
  justify-content: var(--center);
  position: absolute;
  right: 30px;
  bottom: 20px;
  padding: 10px;
  font-weight: 900;
}

#profile {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-image: url(../../assets/images/abdulhakeempic.jpg);
  background-size: cover;
  border: 2px solid var(--text-color-3);
  position: absolute;
  left: 30px;
  bottom: 20px;
}
/* Made all of the content sections flex */
#about,
#work,
#contact {
  display: var(--display-flex);
  flex-direction: var(--flex-row);
  flex-wrap: var(--flex-wrap);
  margin: 30px;
}
.container {
  display: var(--display-flex);
  flex-direction: var(--flex-row);
  flex: 4 0;
}
/* Made the aside content flex as well */
.aside {
  text-align: right;
  color: var(--text-color-2);
  margin-right: 20px;
  padding-right: 3px;
  border-right: 3px solid;
  flex: 1 0;
}

#aboutme {
  font-size: 0.9em;
  color: var(--text-color-2);
}

.main {
  display: var(--display-flex);
  flex-direction: var(--flex-row);
  flex-wrap: var(--flex-wrap);
  justify-content: space-between;
  width: 100%;
}
#box1 {
  width: 100%;
  height: 200px;
  background-image: url(../../assets/images/horiseon_refactor.jpg);
  background-size: cover;
  border: 3px solid var(--text-color-3);
  opacity: 0.7;
}
/* Styled all boxes the same, except the first as it needs custom syling. */
#box1 .boxbg {
  margin-top: 135px;
}

#box1:hover {
  opacity: 1;
}

#box2,
#box3,
#box4,
#box5 {
  width: 49%;
  height: 100px;
  background-size: cover;
}

#box2 {
  background-image: url(../../assets/images/structure-1559179_1280.jpg);
}

#box3 {
  background-image: url(../../assets/images/accountant-1238598_1280.jpg);
}

#box4 {
  background-image: url(../../assets/images/heart-762564_1280.jpg);
}

#box5 {
  background-image: url(../../assets/images/boys-5630669_1280.jpg);
}
.boxdesign {
  border: 3px solid var(--text-color-3);
  margin: 10px 0px;
  opacity: 0.7;
}

/* Added the hover psuedo element hover for the opacity property */

.boxdesign:hover {
  opacity: 1;
}

.boxbg {
  background-color: var(--text-color-3);
  height: 40px;
  width: auto;
  justify-content: var(--center);
  margin-top: 40px;
  position: absolute;
  padding: 3px;
  color: var(--text-color);
  font-size: 0.9em;
}

.boxbg p {
  font-size: 0.75em;
}

#footer {
  width: 100%;
  margin-bottom: 20px;
}
#navfooter {
  display: var(--display-flex);
  flex-direction: var(--flex-row);
  justify-content: space-around;
  align-content: var(--center);
  width: 100%;
}

#navfooter li a {
  text-decoration: none;
  border-bottom: 3px solid var(--text-color);
  padding-bottom: 2px;
  font-size: 0.9em;
  color: var(--text-color);
  width: 20%;
}

/*Section below is for Mobile Styling*/

@media screen and (max-width: 768px) {
  header,
  nav,
  #about,
  #work,
  #contact,
  #container {
    flex-direction: var(--flex-column);
  }
  /* Made nav element z-index higher to show after flex column */
  nav {
    z-index: 1;
  }
  nav ul {
    justify-content: var(--center);
    margin-right: 0px;
  }

  nav ul li a {
    color: white;
  }

  h1 {
    padding-left: 0px;
  }

  /* Styled the aside elements to fit better for Mobile View */
  .aside {
    text-align: left;
    padding-left: 0px;
    border-bottom: 2px solid var(--text-color);
    border-right: none;
    margin-bottom: 10px;
  }
  /* Hid the br element so that the h1 is on one line */
  .aside br {
    display: none;
  }
}
